@import 'global';

.line .Dropdown-control {
  height: 30px;
  padding: 0.25vw;
  width: 120px;
}

.arrow-closed,
.arrow-open {
  border: solid $main-orange;
  border-width: 0 2px 2px 0;
  // display: inline-block;
  padding: 3px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-open {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
