@import 'global';

.level-select {
  font-size: $main-font-size;
  font-weight: lighter;
}

.level-select-button {
  color: white;
  text-decoration: none;
}

.right {
  margin-left: 15px;
}

.left {
  margin-right: 15px;
}
