@import 'global';

.selectBtn {
  background-color: white;
  border: 0;
  border-radius: 0.5vw;
  font-family: $main-font;
  font-size: $main-font-size;
  padding: 2vw 1vw;
  text-align: left;
  width: 32%;
}

#contentPC {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3vw 0;
  // height: 50%;
}

.code {
  border: solid 1px $main-orange;
  border-radius: 5px;
  color: $main-orange;
  margin: 5px;
  padding: 0.25vw;
  padding-top: 0;
}

.instruction {
  margin: 0.25vw 0;
}

.maze {
  align-content: center;
  display: grid;
  justify-content: center;
  margin: -10px auto;
  position: relative;
}
