@import 'global';

#sample-code {
  background-color: #323232;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1vw 0;
  padding: 1vw;
}

#code-input {
  border-color: white;
  border-radius: 10px;
  height: 300px;
  width: 350px;
}

.plain {
  line-height: 110%;
}

.line {
  align-items: center;
  border: solid 3px transparent;
  display: flex;
  flex-flow: row wrap;
  font-family: $code-font;
  font-size: $code-font-size;
}

#bottom-content {
  align-items: stretch;
  display: grid;
  gap: 1vw;
  grid-template-columns: 40% auto;
  height: 50vh;
  margin-top: 1vw;
}

.codeCard {
  background-color: white;
  border-radius: 10px;
  padding: 1vw;
}

#codeFill {
  font-size: $main-font-size;
}

.sampleSyntax {
  color: #fff;
  font-family: $code-font;
  font-size: $code-font-size;
  padding: 15px;
}

.forwardInput {
  border: solid 1px #ccc;
  border-radius: 2px;
  color: #89cff0;
  font-family: $code-font;
  font-size: 16px;
  margin: 0.25vw;
  padding: 0.25vw;
  text-align: center;
  width: 30px;
}

.maze {
  align-content: center;
  display: grid;
  justify-content: center;
  margin: -10px auto;
  position: relative;
}
