@import 'global';

#code {
  background-color: #323232;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1vw 0;
  padding: 1vw;

}

#code-input {
  border-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: $main-font-size;
  height: 40vh;
  margin-top: 1vw;
  padding: 1vw;
  width: 100%;
}

.modal {
  background-color: white;
  border-color: white;
  border-radius: 10px;
  bottom: auto;
  font-family: $main-font;
  font-size: 18px;
  left: 50%;
  padding: 2vw;
  position: relative;
  right: auto;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.error-heading {
  color: #ff5630;
}

.close-button {
  left: 70px;
  position: absolute;
  top: 15px;
}

.sampleSyntax {
  color: #fff;
  font-family: $code-font;
  font-size: $code-font-size;
  padding: 15px;
}
