@import 'global';

#sample-code {
  background-color: #323232;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2vw 3vw;
}

#code-input {
  border-color: white;
  border-radius: 10px;
  height: 300px;
  width: 350px;
}

.line {
  align-items: center;
  border: solid 3px transparent;
  display: flex;
  flex-flow: row wrap;
  font-size: 10px;
  padding-top: 1vw 0;

}
